<div class="grid_2 suffix_14">
	<div class="containerLabel">
		<p><%= @container_label_1 %></p>
	</div>
</div>
<!-- DEAL CONTAINER -->
<div class="grid_16 dealContainer" id="dealContainer-Food">
	<div class="grid_3 deal">
		<img src="assets/foodpic1.jpg" class="grid_3 deal-picture">
		<div class="grid_3 dealTitle">
			<p><%= @deal_title %></p>
		</div>
		<div class="grid_3 dealDescription">
			<p><%= @deal_desc %></p>
		</div>
	</div>
	<div class="grid_3 deal">
		<img src="assets/foodpic2.jpg" class="grid_3 deal-picture">
		<div class="grid_3 dealTitle">
			<p><%= @deal_title %></p>
		</div>
		<div class="grid_3 dealDescription">
			<p><%= @deal_desc %></p>
		</div>
	</div>
	<div class="grid_3 deal">
		<img src="assets/foodpic1.jpg" class="grid_3 deal-picture">
		<div class="grid_3 dealTitle">
			<p><%= @deal_title %></p>
		</div>
		<div class="grid_3 dealDescription">
			<p><%= @deal_desc %></p>
		</div>
	</div>
	<div class="grid_3 deal">
		<img src="assets/foodpic2.jpg" class="grid_3 deal-picture">
		<div class="grid_3 dealTitle">
			<p><%= @deal_title %></p>
		</div>
		<div class="grid_3 dealDescription">
			<p><%= @deal_desc %></p>
		</div>
	</div>
	<div class="grid_3 deal">
		<img src="assets/foodpic1.jpg" class="grid_3 deal-picture">
		<div class="grid_3 dealTitle">
			<p><%= @deal_title %></p>
		</div>
		<div class="grid_3 dealDescription">
			<p><%= @deal_desc %></p>
		</div>
	</div>
</div>
<!-- SHOWMORE BUTTON -->
<div class="grid_2 prefix_14">
	<div class="showMoreButton" id="showMore-Food">
		<p>Show more...</p>
	</div>
</div>