<!DOCTYPE html>
<html>

	<head>
		<title>Dealchan</title>

		<!-- partials for stylesheets -->
		<%= render 'layouts/stylesheets' %>
		
		<!-- for website security: dont worry about what this does (cross site request forgery) -->
		<%= csrf_meta_tags %>
	</head>

	<body>
		<div id="city-selection-modal"></div>

		<div>
			<ul id="jump-to-shortcut">
				<% @deal_categories.each do |category_id, category_name| %>
					<li>
						<a href="#" id="jump-to-<%= category_id %>"><%= category_name %></a>
					</li>
				<% end %>
			</ul>
		</div>

		<!-- partials for header bar -->
		<%= render 'layouts/header' %>

		<%= yield %>
	</body>
	
</html>
