<!-- MAIN BODY -->
<div class="container_16 bottom">

	<!-- partials for container -->
	<!-- FOOD -->
	<%= render 'layouts/dealcontainer1' %>

	<!-- partials for container -->
	<!-- FITNESS -->
	<%= render 'layouts/dealcontainer2' %>

	<!-- partials for container -->
	<!-- EVENTS -->
	<%= render 'layouts/dealcontainer3' %>

	<!-- partials for container -->
	<!-- TRAVEL -->
	<%= render 'layouts/dealcontainer4' %>

	<!-- partials for container -->
	<!-- SHOPPING -->
	<%= render 'layouts/dealcontainer5' %>

</div>