<!-- MAIN BODY -->
<div class="container_16 bottom">

	<!-- partials for container -->
	<%= render 'layouts/dealcontainer' %>

	<!-- partials for container -->
	<%= render 'layouts/dealcontainer' %>

	<!-- partials for container -->
	<%= render 'layouts/dealcontainer' %>

	<!-- partials for container -->
	<%= render 'layouts/dealcontainer' %>

	<!-- partials for container -->
	<%= render 'layouts/dealcontainer' %>

	<!-- FOOD -->
	<!-- CONTAINER LABEL -->
	<div class="grid_2 suffix_14">
		<div class="containerLabel">
			<p><%= @container_label_1 %></p>
		</div>
	</div>
	<!-- DEAL CONTAINER -->
	<div class="grid_16 dealContainer">
		<div class="grid_3 deal">
			<img src="assets/foodpic1.jpg" class="grid_3 deal-picture">
			<div class="grid_3 dealTitle">
				<p><%= @deal_title %></p>
			</div>
			<div class="grid_3 dealDescription">
				<p><%= @deal_desc %></p>
			</div>
		</div>
		<div class="grid_3 deal">
			<img src="assets/foodpic2.jpg" class="grid_3 deal-picture">
			<div class="grid_3 dealTitle">
				<p><%= @deal_title %></p>
			</div>
			<div class="grid_3 dealDescription">
				<p><%= @deal_desc %></p>
			</div>
		</div>
		<div class="grid_3 deal">
			<img src="assets/foodpic1.jpg" class="grid_3 deal-picture">
			<div class="grid_3 dealTitle">
				<p><%= @deal_title %></p>
			</div>
			<div class="grid_3 dealDescription">
				<p><%= @deal_desc %></p>
			</div>
		</div>
		<div class="grid_3 deal">
			<img src="assets/foodpic2.jpg" class="grid_3 deal-picture">
			<div class="grid_3 dealTitle">
				<p><%= @deal_title %></p>
			</div>
			<div class="grid_3 dealDescription">
				<p><%= @deal_desc %></p>
			</div>
		</div>
		<div class="grid_3 deal">
			<img src="assets/foodpic1.jpg" class="grid_3 deal-picture">
			<div class="grid_3 dealTitle">
				<p><%= @deal_title %></p>
			</div>
			<div class="grid_3 dealDescription">
				<p><%= @deal_desc %></p>
			</div>
		</div>
	</div>
	<!-- SHOWMORE BUTTON -->
	<div class="grid_2 prefix_14">
		<div class="showMoreButton">
			<p>Show more...</p>
		</div>
	</div>

	<!-- FITNESS -->
	<!-- CONTAINER LABEL -->
	<div class="grid_2 suffix_14">
		<div class="containerLabel">
			<p><%= @container_label_2 %></p>
		</div>
	</div>
	<!-- DEAL CONTAINER -->
	<div class="grid_16 dealContainer">
		<div class="grid_3 deal">
			<img src="assets/fitnesspic2.jpg" class="grid_3 deal-picture">
			<div class="grid_3 dealTitle">
				<p><%= @deal_title %></p>
			</div>
			<div class="grid_3 dealDescription">
				<p><%= @deal_desc %></p>
			</div>
		</div>
		<div class="grid_3 deal">
			<img src="assets/fitnesspic1.jpg" class="grid_3 deal-picture">
			<div class="grid_3 dealTitle">
				<p><%= @deal_title %></p>
			</div>
			<div class="grid_3 dealDescription">
				<p><%= @deal_desc %></p>
			</div>
		</div>
		<div class="grid_3 deal">
			<img src="assets/fitnesspic2.jpg" class="grid_3 deal-picture">
			<div class="grid_3 dealTitle">
				<p><%= @deal_title %></p>
			</div>
			<div class="grid_3 dealDescription">
				<p><%= @deal_desc %></p>
			</div>
		</div>
		<div class="grid_3 deal">
			<img src="assets/fitnesspic1.jpg" class="grid_3 deal-picture">
			<div class="grid_3 dealTitle">
				<p><%= @deal_title %></p>
			</div>
			<div class="grid_3 dealDescription">
				<p><%= @deal_desc %></p>
			</div>
		</div>
		<div class="grid_3 deal">
			<img src="assets/fitnesspic2.jpg" class="grid_3 deal-picture">
			<div class="grid_3 dealTitle">
				<p><%= @deal_title %></p>
			</div>
			<div class="grid_3 dealDescription">
				<p><%= @deal_desc %></p>
			</div>
		</div>
	</div>
	<!-- SHOWMORE BUTTON -->
	<div class="grid_2 prefix_14">
		<div class="showMoreButton">
			<p>Show more...</p>
		</div>
	</div>

	<!-- EVENTS -->
	<!-- CONTAINER LABEL -->
	<div class="grid_2 suffix_14">
		<div class="containerLabel">
			<p><%= @container_label_3 %></p>
		</div>
	</div>
	<!-- DEAL CONTAINER -->
	<div class="grid_16 dealContainer">
		<div class="grid_3 deal">
			<img src="assets/eventpic1.jpg" class="grid_3 deal-picture">
			<div class="grid_3 dealTitle">
				<p><%= @deal_title %></p>
			</div>
			<div class="grid_3 dealDescription">
				<p><%= @deal_desc %></p>
			</div>
		</div>
		<div class="grid_3 deal">
			<img src="assets/eventpic2.jpg" class="grid_3 deal-picture">
			<div class="grid_3 dealTitle">
				<p><%= @deal_title %></p>
			</div>
			<div class="grid_3 dealDescription">
				<p><%= @deal_desc %></p>
			</div>
		</div>
		<div class="grid_3 deal">
			<img src="assets/eventpic1.jpg" class="grid_3 deal-picture">
			<div class="grid_3 dealTitle">
				<p><%= @deal_title %></p>
			</div>
			<div class="grid_3 dealDescription">
				<p><%= @deal_desc %></p>
			</div>
		</div>
		<div class="grid_3 deal">
			<img src="assets/eventpic2.jpg" class="grid_3 deal-picture">
			<div class="grid_3 dealTitle">
				<p><%= @deal_title %></p>
			</div>
			<div class="grid_3 dealDescription">
				<p><%= @deal_desc %></p>
			</div>
		</div>
		<div class="grid_3 deal">
			<img src="assets/eventpic1.jpg" class="grid_3 deal-picture">
			<div class="grid_3 dealTitle">
				<p><%= @deal_title %></p>
			</div>
			<div class="grid_3 dealDescription">
				<p><%= @deal_desc %></p>
			</div>
		</div>
	</div>
	<!-- SHOWMORE BUTTON -->
	<div class="grid_2 prefix_14">
		<div class="showMoreButton">
			<p>Show more...</p>
		</div>
	</div>

	<!-- TRAVEL -->
	<!-- CONTAINER LABEL -->
	<div class="grid_2 suffix_14">
		<div class="containerLabel">
			<p><%= @container_label_4 %></p>
		</div>
	</div>
	<!-- DEAL CONTAINER -->
	<div class="grid_16 dealContainer">
		<div class="grid_3 deal">
			<img src="assets/travelpic2.jpg" class="grid_3 deal-picture">
			<div class="grid_3 dealTitle">
				<p><%= @deal_title %></p>
			</div>
			<div class="grid_3 dealDescription">
				<p><%= @deal_desc %></p>
			</div>
		</div>
		<div class="grid_3 deal">
			<img src="assets/travelpic1.jpg" class="grid_3 deal-picture">
			<div class="grid_3 dealTitle">
				<p><%= @deal_title %></p>
			</div>
			<div class="grid_3 dealDescription">
				<p><%= @deal_desc %></p>
			</div>
		</div>
		<div class="grid_3 deal">
			<img src="assets/travelpic2.jpg" class="grid_3 deal-picture">
			<div class="grid_3 dealTitle">
				<p><%= @deal_title %></p>
			</div>
			<div class="grid_3 dealDescription">
				<p><%= @deal_desc %></p>
			</div>
		</div>
		<div class="grid_3 deal">
			<img src="assets/travelpic1.jpg" class="grid_3 deal-picture">
			<div class="grid_3 dealTitle">
				<p><%= @deal_title %></p>
			</div>
			<div class="grid_3 dealDescription">
				<p><%= @deal_desc %></p>
			</div>
		</div>
		<div class="grid_3 deal">
			<img src="assets/travelpic2.jpg" class="grid_3 deal-picture">
			<div class="grid_3 dealTitle">
				<p><%= @deal_title %></p>
			</div>
			<div class="grid_3 dealDescription">
				<p><%= @deal_desc %></p>
			</div>
		</div>
	</div>
	<!-- SHOWMORE BUTTON -->
	<div class="grid_2 prefix_14">
		<div class="showMoreButton">
			<p>Show more...</p>
		</div>
	</div>

	<!-- CONTAINER LABEL -->
	<div class="grid_2 suffix_14">
		<div class="containerLabel">
			<p><%= @container_label_5 %></p>
		</div>
	</div>
	<!-- DEAL CONTAINER -->
	<div class="grid_16 dealContainer">
		<div class="grid_3 deal">
			<img src="assets/shoppingpic1.jpg" class="grid_3 deal-picture">
			<div class="grid_3 dealTitle">
				<p><%= @deal_title %></p>
			</div>
			<div class="grid_3 dealDescription">
				<p><%= @deal_desc %></p>
			</div>
		</div>
		<div class="grid_3 deal">
			<img src="assets/shoppingpic2.jpg" class="grid_3 deal-picture">
			<div class="grid_3 dealTitle">
				<p><%= @deal_title %></p>
			</div>
			<div class="grid_3 dealDescription">
				<p><%= @deal_desc %></p>
			</div>
		</div>
		<div class="grid_3 deal">
			<img src="assets/shoppingpic1.jpg" class="grid_3 deal-picture">
			<div class="grid_3 dealTitle">
				<p><%= @deal_title %></p>
			</div>
			<div class="grid_3 dealDescription">
				<p><%= @deal_desc %></p>
			</div>
		</div>
		<div class="grid_3 deal">
			<img src="assets/shoppingpic2.jpg" class="grid_3 deal-picture">
			<div class="grid_3 dealTitle">
				<p><%= @deal_title %></p>
			</div>
			<div class="grid_3 dealDescription">
				<p><%= @deal_desc %></p>
			</div>
		</div>
		<div class="grid_3 deal">
			<img src="assets/shoppingpic1.jpg" class="grid_3 deal-picture">
			<div class="grid_3 dealTitle">
				<p><%= @deal_title %></p>
			</div>
			<div class="grid_3 dealDescription">
				<p><%= @deal_desc %></p>
			</div>
		</div>
	</div>
	<!-- SHOWMORE BUTTON -->
	<div class="grid_2 prefix_14">
		<div class="showMoreButton">
			<p>Show more...</p>
		</div>
	</div>

</div>